@charset "UTF-8";
/* CSS Document */
h1 {
	
	font: bold;
	font-size: 200;
}

body {
	
	justify-content: center;
	align content: center;
}

.travis {
	
	width: 100vh;
	height: 100vh;
	background-image: url("travis.JPG");
	background-size: 100vh;
	background-repeat: no-repeat;
	color: transparent;
		
	
}